
.descp{
    margin-left: 2cm;
    margin-top: 1.5cm;
}
.descp h1{
    color: royalblue;
    font-style: italic;
}
.descp p{
    color: rgb(87, 91, 92);
}
.detail-cart{
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}

@media(max-width:425px){
    .descp{
        margin-left: -0.5cm;
        margin-top: 1.5cm;
    
    }
    .descp h1{
        font-size:large;
    }
}

@media(max-width:425px){
    .descp{
        margin-left: -0.5cm;
        margin-top:-0.3cm;
    
    }
}