.main-details{
  
    width: 100%;
    /* align-items: center;
    justify-content: space-around; */
    display: flex;
    flex-wrap: wrap;
   margin-top: 3cm;
    /* margin: 50px 0; */
}

.left-div{
    width: 45%;
    max-height: 250px;
    /* display: flex; */
    color: royalblue;
    
   
}
.left-div p{
    margin-left: 1cm;
}

.right-div{
    
    width:40%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    
}