
.header{
    width: 100%;
    align-items: center;
     min-height: 70px;
     display: flex;
     background-color: white;
     justify-content: space-around;
   
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
}

.header img{
    margin-left: 30px;
   
}

.header ul li {
    list-style-type: none;
    display: inline;
    margin-left: 40px;
    justify-content: space-around;
   
}

.header ul li a{
  
    text-transform: uppercase;
    /* color: rgb(38, 65, 218); */
    color:royalblue;
    text-decoration: none;
    justify-content: space-around;
}

.header ul li :hover{
    /* background-color: teal; */
    border-top: 2px solid rgb(233, 9, 84);

}
/* .header ul li i :hover{
    background-color: teal;
    border-top: 2px solid white;

} */
/* .header ul li i {
     color: royalblue;
     border-top: none;
     margin-left: 8cm;
} */

.cart  i {
    color: royalblue;
}
.bar{
    display: none;
}

@media (max-width:425px){

    .header{
       display:block;
       /* height: 40px; */
       position: absolute;
       display: flex;
     justify-content: space-around;
     align-items: center;

    }
    .header img{
       
        margin-top: 10px;
    }
    .header ul li {
       
       display: none;
       /* display: block; */
       
       
    }
/*    
    #cart{
        border: none;
        color: red;
    } */
    .bar{
        display: inline-block;
        /* margin-left: 10px; */
        /* justify-content: center; */
    }


}

@media (max-width:320px){

    .header{
        display:block;
        /* height: 40px; */
        position: absolute;
        display: flex;
      justify-content: space-between;
      align-items: center;
 
     }
     .header img{
        height: 50px;
        width: 170px;
     }

     .bar{
         margin-left: 10px;
     }
    #cart{
        margin-right: 10px;
    }
}